<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="display-flex flex-col flex-align">
        <div class="row gal-row row1">
          <% imgsUrls.forEach(function(imgurl) { %>
          <img src="imgs/<%= imgurl %>" alt='coucou' />
          <% }); %>
        </div>
        <div class="row gal-row row2">

          <div class="display-flex flex-col flex-align logo-mail-center">
            <img src="https://via.placeholder.com/500x100/f0f0f0/ffffff?text=LOGO" alt="">
            <span>floriane-marty@gmail.com</span>
          </div>

        </div>
        <div class="row gal-row row3">

        </div>
      </div>
    </div>
  </div>

</body>

</html>